{% extends 'layouts/main.html' %}
{% block body %}

    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->
    
    <!-- product list part start-->
    <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <h2>Our Mission</h2>
                        
                        <h3>Books are an infinite source of knowledge. The only thing that can replace a book is another book.But how to find that title which isn't available in the bookstore near your home? Yes,you guessed it right-online Bookstores. In one click,you can browse through thousands of titles.Find your favourite book in the format you prefer at our online bookstore.</h3>
                        <div class="about_us">
                            <h2>Our Aim and Services</h2>
                            <img src="/static/images/crsl1.jpg" alt="#" class="img-fluid">
                            
                            <h3>At BookMart,we support the idea of more books with least expenditure.Our goal is to provide readers with the books they want without them having to put themselves on a book buying ban.Thus,we have introduced a wide range of categories to offer the best quality books at affordable rates.</h3><br>
                            <h3>Our vision is to educate every indian to the farthest extent and be a part of their excelling journey.To make shopping a more personalized experience,we also offer free bookmarks on every order.Our experts run multiple quality checks to provide you with the best services at affordable prices.We also keep updating our catalogue from time to time,so you don't miss the latest releases. </h3>
                        </div>
                        <h2>Our Combos and Discounts</h2>
                        <img src="/static/images/img/about1.jpg" alt="#" class="img-fluid">
                        <h3>To give our customers the joy of budget-buying,we have also introduced budget stores starting at Rs.99,Rs.199 and much more.We also allow shoppers to build combos based on their liking and budget.We offer the most extensive possible discounts on the actual prices of the books,not hindering the quality at any cost.Thus,you can buy cheap books online at BookMart without a second thought.<br>Thus, BookMart is your one-stop solution to buying your favorite books.</h3>
                        <h2>Why Should You Choose BookMart?</h2>
                        <ul>
                            <h5> Best-Quality Books</h5>
                            <h5> Wide Variety Of Books</h5>
                            <h5> Affordable Prices</h5>
                            <h5> Same Day Dispatch</h5>
                            <h5> Proper Packing</h5>
                            <h5> Easy and Safe Payments</h5>
                            <h5> 24x7 Customer Service</h5>
                            <h5> Easy Returns</h5>
                        </ul>
                        <h2>Conclusion</h2>
                        <h3>At BookMart,we strive to provide the best services to our buyers in the era of competition,overpricing and forgey.We aim to provide services through which the user can buy the best books online at the cheapest prices.Here,you can get copies of your favourite books in a pocket-friendly way.</h3><hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->

    
{% endblock body %}